/**********************
Reset
***********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**********************
Typo
***********************/
body{
    font-family: 'Roboto', sans-serif;
}

#free{
    font-size: 4em;
    color: #fdc15f;
}

.underline{
    text-decoration: underline;
}
/**********************
Common
***********************/

:root{
    --first-color:#0084fd;
    --first-color-light: #b5ddff;
    --secondary-color:#9792e4;
}

.flex{
    display: flex;
    justify-content: center;
}

.just-between{
    justify-content: space-between;
}

.container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.inline-list{
    list-style: none;
}
.m-30{
    margin: 15px;
}
.mt-30{
    margin-top: 1.875rem;
}
.p-15{
    padding: .9375rem;
}
.p-25{
    padding: 1.5625rem;
}

.p-30{
    padding: 1.875rem;
}
.col, .card {
    width: 100%;
}

img{
    width: 100%;
}

.br-50{
    border-radius: 3.125rem;
}

.btn{
    background-color: var(--secondary-color);
    padding: 15px 50px;
    border: none;
    border-radius: 25px;
}

.secondary-btn {
    background-color: white;
    color: var(--secondary-color);
}
/**********************
header
***********************/
header {
    background-color: var(--first-color);
    color: white;
} 
header .main-nav{
    display: none;
}
   

/**********************
main
***********************/
.row{
    flex-wrap: wrap
}

.get-demo .col-debug{
    background-color:var(--first-color-light);
    height: 300px;
}

.get-demo{
    margin-bottom: 80px;
}  

.planning{
    background-color: var(--secondary-color);
}

.planning .row{
    justify-content: center;
    align-items: flex-end;
}

.box-app{
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: .9375rem;
}

.box-app p{
    text-align: center;
}

.box-app i{
    background-color: var(--secondary-color);
    padding: 7px 10px;
    border-radius: 50%;
}

.testimonial{
    text-align: center;
}
.box-person{
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
}

.box-person .text{
    text-align: center;
}

.box-img-person img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}


.benefits{
    background-color: var(--secondary-color);
}

.benefits .card{
    height: 300px;
    background-color: white;
}





.about-us{
    background-color: var(--secondary-color);
    
}
.small-container{
    text-align: center;
    max-width: 37.5rem;
    margin: 0 auto;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .get-demo .col{
         width: calc(100% / 3);
    }
    .get-demo .col:first-child{
        width: calc((100% / 3) * 2);
    }

    .testimonial .box-person{
        flex-direction: row;
        justify-content: center;
    }

    .box-person .text{
        text-align: left;
    }
    .benefits .card{
        width: calc(100% / 2 - 60px);
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    header .main-nav{
        display: block;
    }
    .hamburger{
        display: none;
    }

    .planning .col{
        width: 410px;
    }
    .benefits .card{
        width: calc(100% / 3 - 105px);
    }

    .container{
        max-width: 71.25rem;
        margin: 0 auto;
}

}