/**********************
Reset
***********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**********************
Typo
***********************/
body{
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
}

#free{
    font-size: 4em;
    color: #fdc15f;
}

.underline{
    text-decoration: underline;
}
/**********************
Common
***********************/

:root{
    --first-color:#0084fd;
    --first-color-light: #b5ddff;
    --secondary-color:#9792e4;
}

.flex{
    display: flex;
    justify-content: center;
}

.just-between{
    justify-content: space-between;
}

.container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.inline-list{
    list-style: none;
    align-items: center;
}
.m-30{
    margin: 15px;
}
.mt-30{
    margin-top: 1.875rem;
}
.p-15{
    padding: .9375rem;
}
.pl-30{
    padding-left: 30px;
}
.p-25{
    padding: 1.5625rem;
}

.p-30{
    padding: 1.875rem;
}
.col, .card {
    width: 100%;
}

img{
    width: 100%;
    display: block;
}
.br-30{
    border-radius: 1.875rem;
}
.br-50{
    border-radius: 3.125rem;
}

.btn{
    background-color: var(--secondary-color);
    padding: 15px 50px;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
}

.secondary-btn {
    background-color: white;
    color: var(--secondary-color);
    margin-top: 30px;
}
.start-btn{
    background-color: white;
    padding:5px;
    border: none;
    border-radius: 25px;

}
.app-btn{
    background-color: var(--first-color);

}
/**********************
header
***********************/
header {
    background-color: var(--first-color);
    color: white;
} 
header .main-nav{
    display: none;
}
header .container {
    align-items: center;
}
header .hamburger, .main-nav{
    padding-right: .9375rem;
}
header .hamburger i{
    font-size: 2em;
}


/**********************
main
***********************/
.row{
    flex-wrap: wrap
}

.get-demo .col-app{
    background-color:var(--first-color-light);
    text-align: center;
    
}
.get-demo .col-app i{
    font-size: 70px;
}
.get-demo{
    margin-bottom: 80px;
}  

.get-demo .big-card {
    text-align: left;
}
.get-demo h3,
.get-demo i{
    color: var(--first-color);
}
.get-demo h3{
    padding: 30px 0;
}
.planning{
    background-color: var(--secondary-color);
}
.planning .row{
    justify-content: center;
    align-items: flex-end;
}
.planning .left-img img{
    margin: 70px 0;
}
.planning .left-img, .planning .right-img {
    margin: 0 60px 60px 60px;
}
.box-app{
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: .9375rem;
}

.box-app p{
    text-align: center;
}

.box-app i{
    background-color: var(--secondary-color);
    padding: 7px 10px;
    border-radius: 50%;
}

.testimonial{
    text-align: center;
}
.box-person{
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
}

.box-person .text{
    text-align: center;
}

.box-img-person img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}


.benefits{
    background-color: var(--secondary-color);
    text-align: center;
}

.benefits .card{
    background-color: white;
    text-align: left;
}

.benefits .card h1{
    font-size: 3em;
}
.benefits .card h3{
    padding: 20px 0;
}
.benefits .card h1, 
.benefits .card h3{
    color: var(--secondary-color);
}
.about-us .container{
    margin: 2.5rem auto;
}

.box-img-about-us{
    flex-direction: column;
    align-items: flex-start;
}
.box-img{
    width: 250px;
    
}
.box-img img{
    border-radius: 50%;
}


.get-started{
    background-color: var(--secondary-color);
    
}
.small-container{
    text-align: center;
    max-width: 37.5rem;
    margin: 0 auto;
}
/**********************
 Footer 
************************/

footer{
    background-color:#333333;
    color: white;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .get-demo .col{
         width: calc(100% / 3);
    }
    .get-demo .col:first-child{
        width: calc((100% / 3) * 2);
    }

    .testimonial .box-person{
        flex-direction: row;
        justify-content: center;
    }

    .box-person .text{
        text-align: left;
    }
    .benefits .card{
        width: calc(100% / 2 - 60px);
    }

    .about-us .row{
        flex-wrap: nowrap;
    }
    .box-img-about-us{
        width: calc(100% / 3);
    }

    .about-us .text{
        padding-right: 3.125rem;
    }
}


/* DESKTOP */
@media screen and (min-width: 992px) {
    header .main-nav{
        display: block;
    }
    .hamburger{
        display: none;
    }

    .planning .col{
        width: 410px;
    }
    .benefits .card{
        width: calc(100% / 3 - 105px);
    }

    .container{
        max-width: 71.25rem;
        margin: 0 auto;
}

}