/**********************
Reset
***********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********************
Common
***********************/

:root{
    --first-color:#0084fd;
    --first-color-light: #b5ddff;
    --secondary-color:#9792e4;
}

.flex{
    display: flex;
}

.just-between{
    justify-content: space-between;
}

.container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.inline-list{
    list-style: none;
}

.mt-30{
    margin-top: 1.875rem;
}


.col {
    width: 100%;
}

/**********************
header
***********************/
header {
    background-color: var(--first-color);
    color: white;
} 
header .main-nav{
    display: none;
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    header .main-nav{
        display: block;
    }
    .hamburger{
        display: none;
    }

    .planning .col{
        width: 410px;
    }

}   

/**********************
main
***********************/
.row{
    flex-wrap: wrap
}




.get-demo .col-debug{
    background-color:var(--first-color-light);
    height: 300px;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .get-demo .col{
         width: calc(100% / 3);
    }
    .get-demo .col:first-child{
        width: calc((100% / 3) * 2);
    }
}
.get-demo{
    margin-bottom: 80px;
}  

.planning{
    background-color: var(--secondary-color);

}

.planning .row{
    justify-content: center;

}

.planning .col{
    height: 500px;
    background-color: beige;
    
}